
<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
        <svg class="text-secondary" viewBox="0 0 92 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.15909 0.272727H6.49432V6.25568C6.49148 6.82386 6.34801 7.32386 6.06392 7.75568C5.78267 8.18466 5.39347 8.51989 4.89631 8.76136C4.40199 9 3.83239 9.11932 3.1875 9.11932C2.62784 9.11932 2.11648 9.02273 1.65341 8.82955C1.19034 8.63352 0.821023 8.3267 0.545455 7.90909C0.269886 7.48864 0.133523 6.94318 0.136364 6.27273H2.50568C2.5142 6.49148 2.55114 6.67614 2.61648 6.8267C2.68466 6.97727 2.77841 7.09091 2.89773 7.16761C3.01989 7.24148 3.16761 7.27841 3.34091 7.27841C3.51705 7.27841 3.66477 7.24006 3.78409 7.16335C3.90625 7.08665 3.99858 6.97301 4.06108 6.82244C4.12358 6.66903 4.15625 6.48011 4.15909 6.25568V0.272727ZM9.88423 9H7.32741L10.2081 0.272727H13.4467L16.3274 9H13.7706L11.8615 2.67614H11.7933L9.88423 9ZM9.40696 5.55682H14.2138V7.32955H9.40696V5.55682ZM24.7191 0.272727V9H22.7418L19.5884 4.41477H19.5373V9H17.168V0.272727H19.1793L22.2816 4.84091H22.3498V0.272727H24.7191ZM27.1523 9.13636C26.8228 9.13636 26.5401 9.02131 26.3043 8.79119C26.0714 8.55824 25.9563 8.27557 25.9592 7.94318C25.9563 7.61932 26.0714 7.34233 26.3043 7.11222C26.5401 6.8821 26.8228 6.76705 27.1523 6.76705C27.4648 6.76705 27.7404 6.8821 27.979 7.11222C28.2205 7.34233 28.3427 7.61932 28.3455 7.94318C28.3427 8.16477 28.2844 8.36648 28.1708 8.5483C28.06 8.72727 27.9151 8.87074 27.7362 8.97869C27.5572 9.08381 27.3626 9.13636 27.1523 9.13636ZM29.5898 9V0.272727H31.9592V3.80114H32.0785L34.7035 0.272727H37.4648L34.516 4.15909L37.533 9H34.7035L32.7433 5.72727L31.9592 6.75V9H29.5898ZM46.0717 4.63636C46.0717 5.60795 45.8828 6.42756 45.505 7.09517C45.1271 7.75994 44.6172 8.2642 43.9751 8.60795C43.3331 8.94886 42.6172 9.11932 41.8274 9.11932C41.032 9.11932 40.3132 8.94744 39.6712 8.60369C39.032 8.2571 38.5234 7.75142 38.1456 7.08665C37.7706 6.41903 37.5831 5.60227 37.5831 4.63636C37.5831 3.66477 37.7706 2.84659 38.1456 2.18182C38.5234 1.5142 39.032 1.00994 39.6712 0.669034C40.3132 0.325284 41.032 0.153409 41.8274 0.153409C42.6172 0.153409 43.3331 0.325284 43.9751 0.669034C44.6172 1.00994 45.1271 1.5142 45.505 2.18182C45.8828 2.84659 46.0717 3.66477 46.0717 4.63636ZM43.6342 4.63636C43.6342 4.11364 43.5646 3.6733 43.4254 3.31534C43.2891 2.95455 43.0859 2.68182 42.8161 2.49716C42.549 2.30966 42.2195 2.21591 41.8274 2.21591C41.4354 2.21591 41.1044 2.30966 40.8345 2.49716C40.5675 2.68182 40.3643 2.95455 40.2251 3.31534C40.0888 3.6733 40.0206 4.11364 40.0206 4.63636C40.0206 5.15909 40.0888 5.60085 40.2251 5.96165C40.3643 6.3196 40.5675 6.59233 40.8345 6.77983C41.1044 6.96449 41.4354 7.05682 41.8274 7.05682C42.2195 7.05682 42.549 6.96449 42.8161 6.77983C43.0859 6.59233 43.2891 6.3196 43.4254 5.96165C43.5646 5.60085 43.6342 5.15909 43.6342 4.63636ZM52.3327 0.272727H54.7021V5.86364C54.7021 6.52841 54.543 7.10369 54.2248 7.58949C53.9094 8.07244 53.4691 8.44602 52.9038 8.71023C52.3384 8.97159 51.6822 9.10227 50.935 9.10227C50.1822 9.10227 49.5231 8.97159 48.9577 8.71023C48.3924 8.44602 47.9521 8.07244 47.6367 7.58949C47.3242 7.10369 47.168 6.52841 47.168 5.86364V0.272727H49.5373V5.65909C49.5373 5.92898 49.5969 6.17045 49.7163 6.38352C49.8356 6.59375 50.0004 6.75852 50.2106 6.87784C50.4237 6.99716 50.6651 7.05682 50.935 7.05682C51.2077 7.05682 51.4492 6.99716 51.6594 6.87784C51.8697 6.75852 52.0344 6.59375 52.1538 6.38352C52.2731 6.17045 52.3327 5.92898 52.3327 5.65909V0.272727ZM60.5327 3C60.5099 2.71591 60.4034 2.49432 60.2131 2.33523C60.0256 2.17614 59.7401 2.09659 59.3565 2.09659C59.1122 2.09659 58.9119 2.12642 58.7557 2.18608C58.6023 2.2429 58.4886 2.32102 58.4148 2.42045C58.3409 2.51989 58.3026 2.63352 58.2997 2.76136C58.294 2.86648 58.3125 2.96165 58.3551 3.04688C58.4006 3.12926 58.4716 3.20455 58.5682 3.27273C58.6648 3.33807 58.7884 3.39773 58.9389 3.4517C59.0895 3.50568 59.2685 3.55398 59.4759 3.59659L60.1918 3.75C60.6747 3.85227 61.0881 3.98722 61.4318 4.15483C61.7756 4.32244 62.0568 4.51989 62.2756 4.74716C62.4943 4.97159 62.6548 5.22443 62.7571 5.50568C62.8622 5.78693 62.9162 6.09375 62.919 6.42614C62.9162 7 62.7727 7.4858 62.4886 7.88352C62.2045 8.28125 61.7983 8.58381 61.2699 8.79119C60.7443 8.99858 60.1122 9.10227 59.3736 9.10227C58.6151 9.10227 57.9531 8.99006 57.3878 8.76562C56.8253 8.54119 56.3878 8.19602 56.0753 7.73011C55.7656 7.26136 55.6094 6.66193 55.6065 5.93182H57.8565C57.8707 6.19886 57.9375 6.4233 58.0568 6.60511C58.1761 6.78693 58.3438 6.92472 58.5597 7.01847C58.7784 7.11222 59.0384 7.15909 59.3395 7.15909C59.5923 7.15909 59.804 7.12784 59.9744 7.06534C60.1449 7.00284 60.2741 6.91619 60.3622 6.8054C60.4503 6.6946 60.4957 6.56818 60.4986 6.42614C60.4957 6.29261 60.4517 6.17614 60.3665 6.0767C60.2841 5.97443 60.1477 5.88352 59.9574 5.80398C59.767 5.72159 59.5099 5.64489 59.1861 5.57386L58.3168 5.38636C57.544 5.21875 56.9347 4.93892 56.4886 4.54688C56.0455 4.15199 55.8253 3.61364 55.8281 2.93182C55.8253 2.37784 55.973 1.89347 56.2713 1.47869C56.5724 1.06108 56.9886 0.735795 57.5199 0.502841C58.054 0.269886 58.6662 0.153409 59.3565 0.153409C60.0611 0.153409 60.6705 0.271307 61.1847 0.507102C61.6989 0.742898 62.0952 1.07528 62.3736 1.50426C62.6548 1.9304 62.7969 2.42898 62.7997 3H60.5327ZM65.7475 9H63.1907L66.0714 0.272727H69.31L72.1907 9H69.6339L67.7248 2.67614H67.6566L65.7475 9ZM65.2702 5.55682H70.0771V7.32955H65.2702V5.55682ZM73.0312 9V0.272727H75.4006V7.09091H78.929V9H73.0312ZM82.256 0.272727V9H79.8867V0.272727H82.256ZM83.3789 9V0.272727H85.7482V3.80114H85.8675L88.4925 0.272727H91.2539L88.305 4.15909L91.3221 9H88.4925L86.5323 5.72727L85.7482 6.75V9H83.3789Z" fill="currentColor"/>
          </svg>
          
  </div>
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-2 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between lg:items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>Junior</span>
            <span class="font-bold">full stack developer</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
          >Available for work from June 2025</span
          >
        </div>
        <div>
          <ul class="lg:items-center flex justify-between w-full gap-3 relative text-xs">
            <li>
              <a
                href="https://github.com/kousalikjan"
                target="_blank"
                class="hover:text-secondary/80 text-secondary"
                >GitHub</a
              >
            </li>
            <li>
              <a
                href="mailto:kousaja1@gmail.com"
                class="hover:text-secondary/80 text-secondary"
                >Email</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div
        class="h-1.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="2000">
      </div>
      <div class="h-3 bg-red-600" data-aos="fade-up" data-aos-duration="2500">
      </div>
      <div class="h-6 bg-yellow-400" data-aos="fade-up" data-aos-duration="3000">
      </div>
      <div
        class="h-12 bg-green-600"
        data-aos="fade-up"
        data-aos-duration="3000">
      </div>
      <div
        class="h-24 bg-violet-600 flex items-end p-4"
        data-aos="fade-up"
        data-aos-duration="3000"
        data-aos-delay="150">
      </div>
    </div>
  </div>
</section>
