<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 text-lg">
      <p
        class="text-2xl leading-6 lg:col-span-3 lg:text-5xl lg:leading-12"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
      "I prefer not to follow the hype and actually think twice before changing my whole tech stack."
      </p>
      <p
        class="text-lg lg:col-start-1  leading-relaxed underline underline-offset-4"
        data-aos="fade-up"
        data-aos-duration="2500"
      >
        I am currently on exchange studies in Norway and I do not accept new enquires. I am more happy to cooperate from June 2025.
        <img class="mt-6 rounded-full max-w-sm" src="me.jpg">
      </p>
      <p
        class="lg:col-start-3 leading-relaxed "
        data-aos="fade-up"
        data-aos-duration="3000"
      >
      I like to stay with a framework long enough to really know its strengths and weaknesses, and to build things that are not just shiny, but solid. 

      <br /><br />
      So far, my favourite combination is Symfony, Hotwire, Mercure and Tailwind CSS.
      <br /><br />
      Outside of coding, I love spending time in the mountains — climbing, hiking, or just being outdoors. 
     
      </p>
    </div>
  </div>
</section>
